@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Georama:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
:root {
  --yellow: #f9d25d;
  --purple: #363a8a;
  --orange: #f3b122;
  --gradient: linear-gradient(200deg, rgba(114,215,252,1) 0%, rgba(189,239,208,1) 100%);
  --font-header:  'Georama', sans-serif;
  --font-body: 'Atkinson Hyperlegible', sans-serif;
  --font-actions: 'Roboto', sans-serif;
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-gradient {
  background: var(--gradient);
}
.text-gradient {
  background: -webkit-linear-gradient(200deg, rgba(114,215,252,1) 0%, rgba(189,239,208,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-yellow {
  color: var(--yellow);
}
.text-purple {
  color: var(--purple);
}
.text-orange {
  color: var(--orange);
}
a {
  text-decoration: none;
}
.mx-n3 {
  margin: 0 -0.5rem;
}
.set-bg {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}
button, a {
  font-family: var(--font-actions);
}
body {
  font-family: var(--font-body);
}
.app-btn-outline-primary {
  color: var(--orange);
  border-color: var(--orange);
  background: transparent;
}
.btn-link {
  color: var(--orange);
  text-decoration: none;
}
.btn-link:hover {
  color: var(--orange);
  background-color: #f9d25d34;
}
.btn-link:focus {
  box-shadow: unset !important;
}
.app-btn-primary {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--yellow);
}
.app-btn-primary:hover,
.app-btn-primary:focus {
  color: #fff;
  background-color: #db9f1d;
  border-color: #eba91cb6;  
}
.app-btn-primary:focus{
  box-shadow: 0 0 0 0.25rem #db9f1d81;
}
.img-wrapper, .img-wrapper-show {
  display:flex;
  align-items:center;
  justify-content: center;
}
.img-wrapper {
  background: #f8f9fa  url('../img/icons/image.png') no-repeat center;
  border: 3px dashed darkgray;
  cursor: pointer;
  padding: 0.25rem;
}
.img-preview {
  max-height: 100%;
}
.img-wrapper.small {
  height: 64px;
  width: 64px;
  background-size: 50%;
}
.img-wrapper.large {
  height: 250px;
  width: 250px;
}
.img-wrapper.medium {
  height: 150px;
  width: 150px;
  background-size: 50px;
}
.img-wrapper-show {
  height: 75px;
  width: 75px;
}
.img-wrapper-show .img-fluid {
  max-height: 100%;
}
.accordion-text {
  display:inline-block;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  border: 0;
  border-radius: 0;
}
.accordion-header.inactive {
  display:flex;
  justify-content: space-between;
}


.btn-group-xs > .btn{
  padding: .15rem .3rem;
  font-size: .675rem;
}
.rounded-pill-left {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}
.rounded-pill-right {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}
.custom-tabs .nav-tabs .nav-link.active {
  background: none !important;
  border: none;
  color: var(--primary-600);
  border-bottom: 3px solid var(--primary-600);
}
.custom-tabs .nav-tabs .nav-link {
  color: #5d6778;
}
@media (max-width: 576px) {
  .nav-link {
    font-size: 0.75rem;
  }
}
.form-control-color {
  max-width: 100%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: darkgray;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-size: 75%;
}
.form-group {
  margin-bottom: 1.25rem;
  position: relative;
}
.form-label-required::after {
  content: "•";
  color: var(--bs-danger);
  margin-left: 0.25rem;
}
.form-group
.invalid-feedback {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position:absolute;
  bottom:-1.25rem;
  font-size: small;
  font-style: italic;
  text-align: right;
}

.btn-default {
  padding: 0;
  margin: 0;
  outline: none;
  background:transparent;
}
.btn-icon {

}
.auth-container::after{
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background: var(--yellow);
  z-index: -1;
}
.auth-login::after {
  left: 50%;
}
.auth-register::after {
  left: 0;
}
.icon-wrapper {
  background-color:#f9d25d59;
  color:var(--orange);
  border-radius: 50%;
  text-align:center;
  margin: 0 auto;
  margin-bottom: 1rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.icon-lg {
  width: 150px;
  height: 150px;
}
.icon-md {
  width: 100px;
  height: 100px;
}
.icon-sm {
  width: 50px;
  height: 50px;
}
.img-wrapper {
  padding: 0.25rem;
}
.img-preview {
  max-width: 100%;
  max-height: calc(250px - 0.5rem);
}