@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Georama:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
:root {
  --yellow: #f9d25d;
  --yellow-75: #f9d25dBF;
  --yellow-50: #f9d25d80;
  --yellow-25: #f9d25d40;

  --purple: #363a8a;
  --orange: #f3b122;
  --gradient: linear-gradient(200deg, rgba(114,215,252,1) 0%, rgba(189,239,208,1) 100%);
  --font-header:  'Georama', sans-serif;
  --font-body: 'Atkinson Hyperlegible', sans-serif;
  --font-actions: 'Roboto', sans-serif;
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-gradient {
  background: var(--gradient);
}
.text-gradient {
  background: -webkit-linear-gradient(200deg, rgba(114,215,252,1) 0%, rgba(189,239,208,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-yellow {
  color: var(--yellow);
}
.text-purple {
  color: var(--purple);
}
.text-orange {
  color: var(--orange);
}
.border-yellow {
  border: 1px solid var(--yellow);
}
a {
  text-decoration: none;
}
.mx-n3 {
  margin: 0 -0.5rem;
}
.set-bg {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}
button, a {
  font-family: var(--font-actions);
}
body {
  font-family: var(--font-body);
}
.app-btn-outline-primary {
  color: var(--orange);
  border-color: var(--orange);
  background: transparent;
}
.btn-link {
  color: var(--orange);
  text-decoration: none;
}
.btn-link:hover {
  color: var(--orange);
  background-color: #f9d25d34;
}
.btn-link:focus {
  box-shadow: unset !important;
}
.app-btn-primary {
  color: #fff;
  background-color: var(--orange);
  border-color: var(--yellow);
}
.app-btn-primary:hover,
.app-btn-primary:focus {
  color: #fff;
  background-color: #db9f1d;
  border-color: #eba91cb6;  
}
.app-btn-primary:focus{
  box-shadow: 0 0 0 0.25rem #db9f1d81;
}
.img-wrapper, .img-wrapper-show {
  display:flex;
  align-items:center;
  justify-content: center;
}
.img-wrapper {
  background: #f8f9fa  url('../img/icons/image.png') no-repeat center;
  border: 3px dashed darkgray;
  cursor: pointer;
  padding: 0.25rem;
}
.img-preview {
  max-height: 100%;
}
.img-wrapper.small {
  height: 64px;
  width: 64px;
  background-size: 50%;
}
.img-wrapper.large {
  height: 250px;
  width: 250px;
}
.img-wrapper.medium {
  height: 150px;
  width: 150px;
  background-size: 50px;
}
.img-wrapper-show {
  height: 75px;
  width: 75px;
}
.img-wrapper-show .img-fluid {
  max-height: 100%;
}
.accordion-text {
  display:inline-block;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  border: 0;
  border-radius: 0;
}
.accordion-header.inactive {
  display:flex;
  justify-content: space-between;
}


.btn-group-xs > .btn{
  padding: .15rem .3rem;
  font-size: .675rem;
}
.rounded-pill-left {
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}
.rounded-pill-right {
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}
.custom-tabs .nav-tabs .nav-link.active {
  background: none !important;
  border: none;
  color: var(--primary-600);
  border-bottom: 3px solid var(--primary-600);
}
.custom-tabs .nav-tabs .nav-link {
  color: #5d6778;
}
@media (max-width: 576px) {
  .nav-link {
    font-size: 0.75rem;
  }
}
.form-control-color {
  max-width: 100%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: darkgray;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-size: 75%;
}
.form-group {
  margin-bottom: 1.25rem;
  position: relative;
}
.form-label-required::after {
  content: "•";
  color: var(--bs-danger);
  margin-left: 0.25rem;
}
.form-group
.invalid-feedback {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position:absolute;
  bottom:-1.25rem;
  font-size: small;
  font-style: italic;
  text-align: right;
}

.btn-default {
  padding: 0;
  margin: 0;
  outline: none;
  background:transparent;
}
.btn-icon {

}
.auth-container::after{
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background: var(--yellow);
  z-index: -1;
}
.auth-login::after {
  left: 50%;
}
.auth-register::after {
  left: 0;
}
.icon-wrapper {
  background-color:#f9d25d59;
  color:var(--orange);
  border-radius: 50%;
  text-align:center;
  margin: 0 auto;
  margin-bottom: 1rem;
  display:flex;
  align-items:center;
  justify-content:center;
}
.icon-lg {
  width: 150px;
  height: 150px;
}
.icon-md {
  width: 100px;
  height: 100px;
}
.icon-sm {
  width: 50px;
  height: 50px;
}
.img-wrapper {
  padding: 0.25rem;
}
.img-preview {
  max-width: 100%;
  max-height: calc(250px - 0.5rem);
}
button[class^="link-"] {
  padding: 0;
  outline:none;
  background:transparent;
  border:none;
}
.set-bg {
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-title-overflow {
  overflow: hidden;
  height: 3rem;
}
.card-img-overflow {
  object-fit: cover;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  margin: 0 1rem;
  margin-top: -1rem;
  box-sizing: border-box;
  width: calc(100% - 2rem);
  height: 200px;
  margin-bottom: 1rem;
}
.avatar {
  display:block;
  border-radius: 50%!important;
  height: 100px;
  width: 100px;
  overflow:hidden;
  margin: 0 auto;
  margin-bottom: 1rem;
  cursor:pointer;
  position: relative;
}
.avatar img {
  height: 100px;
  width: 100px;
}
.loading-avatar {
  pointer-events: none;
}
.loading-avatar > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content: center;
}
img:not(.no-fit) {
  object-fit: cover;
  vertical-align: top;
}

.card-artist {
  position: relative;
  margin-bottom: 3rem;
  padding: 1.5rem;  
  padding-bottom: 2.5rem;
}
.card-artist .quotes {
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--orange);
  color:white;
  text-align: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.card-artist .quotes i {
  line-height: 50px;
  font-size: 1.25rem;
}
.social-media {
  display:flex;
  align-items:center;
}
.social-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  background:lightgray;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}
.social-icon:last-child {
  margin-right: 0;
}
.social-icon i {
  line-height: 40px;
  font-size: 1.25rem;
}
.step {
  text-align: center;
}
.step-arrow {
  width: 125px;
}
.step i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--orange);
}

.step h5 {
  font-weight: bold;
}

.home-section {
  position: relative;
  padding: 3rem 0;
  background-size:cover;
  background-repeat: no-repeat;
}
.section-description {
  margin:0 auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 75%;
  color: #6c757d!important;
}
.hero-section {
  background-image: url('../img/hero.jpg');
  background-position: center;
  text-align: center;
  padding-bottom: 0;
}

.artists-section {
  padding-top: 100px;
  background-position: center top;
  background-image: url("../img/background/bg.png")
}
.card-search {
  margin: 0 auto;
  border: 0;
  border-radius: 0;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  width: 100%;
}
.input-group-search {
  border: 1px solid lightgray;
  border-radius: 50rem !important;
  padding: 0.2rem;
}
.input-group-search > .form-control {
  border: 0;
  background: transparent;
  box-shadow: none !important;
  padding-top: 0;
  padding-bottom: 0; 
}
.btn-type {
  border-right: 1px solid darkgray;
  box-shadow: none !important;
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  background: var(--yellow);
}
.btn-search:focus {
  box-shadow: 0 0 0 0.25rem var(--yellow-25);
}
@media (min-width: 578px) {
  .card-search {
    padding: 3rem;
  }
  .input-group-search {
    padding: 0.5rem;
  }
}
@media (min-width: 998px) {
  .card-search {
    width: 50%;
  }
  .btn-type {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
  }
  .hero-section {
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
  }
}